<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Our services</title>
</head>
<body>
  <nav>
    <ul style="display: flex; justify-content: space-around;
  list-style-type: none; border: 2px grey solid; background-color: yellow;">
      <li><a href="/contact" style="text-decoration: none;
  color: green;">Contact us</a></li>
      <li><a href="/services" style="text-decoration: none;
  color: green;">Our services</a></li>
      <li><a href="/home" style="text-decoration: none;
  color: green;">Home</a></li>
    </ul>
  </nav>
<h1 style="text-align:center;">Welcome to our services page</h1>
<p style="color: blue">We have many services. including teaching new technologies, helping poeple who are creating their own projects...</p>
</body>
</html>
